<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Generated video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h2>Generated video</h2>
    <video width="500" controls>
        <source src="{{ url_for('static', filename='videos/' + filename)}}" type="video/mp4">
        your browser does not support the video tag
    </video>
    <br><br>
    <a href="{{ url_for('static', filename='videos/' + filename)}}" download>Download Video</a>
</body>
</html>